<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
        <!-- section du menu de notre site -->
        <%- include('./components/navbar.ejs') %>
        
         <!-- section banniere -->
    <section class="banniere-about">
        <div class="container">
            <div class="row">
                <h1>A propos de notre organisation</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ex!</p>
            </div>
        </div>
    </section>
    <!--  -->
    <section class="presentation">
        <div class="container my-5">
            <div class="row sous-container">
                <div class="col-lg-5 left "></div>
                <div class="col-lg-6 right">
                    <div class="row">
                        <h1>Nous nous efforçons d'être les meilleurs et de produire un travail exceptionnel.</h1>
                    </div>
                    <div class="row">
                        <p>
                            Nous sommes passionnés par ce que nous faisons et nous efforçons de fournir le meilleur
                            service possible à nos clients.
                            Chaque projet est une opportunité pour nous de montrer notre engagement envers l'excellence
                            et de démontrer notre expertise dans le domaine.
                            Notre équipe est dédiée à transformer vos idées en réalité avec créativité, innovation et
                            attention aux détails.
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            Nous croyons en la force de la collaboration et de l'écoute.
                            En travaillant en étroite collaboration avec nos clients, nous sommes en mesure de
                            comprendre leurs besoins spécifiques et
                            de proposer des solutions sur mesure. Notre mission est de dépasser les attentes de nos
                            clients et de leur offrir des expériences exceptionnelles,
                            tout en établissant des relations durables basées sur la confiance et la satisfaction
                            mutuelle.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn">EN SAVOIR PLUS NOUS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  -->
    <!-- Servicce -->
    <section class="service mt-5" id="service-about">
        <div class="container">
            <div class="row mx-auto">
                <h2 class="text-center mx-auto mb-2">Nos Services</h2>
                <p>Loin, très loin, derrière les montagnes de mots, loin des pays Vokalia et Consonantia, vivent les
                    textes aveugles. Séparés, ils vivent dans Bookmarksgrove.</p>
            </div>
            <div class="row my-5">
                <div class="col-md-3">
                    <span><i class="fas fa-coffee"></i></span>
                    <h5>titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>
                <div class="col-md-3">
                    <span><i class="fa fa-gamepad jeux" aria-hidden="true"></i></span>
                    <h5>titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>
                <div class="col-md-3">
                    <span><i class="fas fa-camera-retro"></i></span>
                    <h5>titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>
                <div class="col-md-3">
                    <span><i class="fas fa-bug"></i></span>
                    <h5>titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-md-3">
                    <span><i class="fas fa-headphones"></i></span>
                    <h5>titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>

                <div class="col-md-3">
                    <span class="text-center "><i class="fas fa-leaf "></i></span>
                    <h5 class="text-center">titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>

                <div class="col-md-3">
                    <span><i class="fas fa-satellite"></i> </span>
                    <h5>titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>

                <div class="col-md-3">
                    <span><i class="fas fa-globe"></i></span>
                    <h5>titre</h5>
                    <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur nihil illo cumque maiores
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!--  -->
    <!-- section experience -->
    <div class="experience">
        <div class="container">
            <div class="row">
                <h2 class="text-center mx-auto my-4">Nous concevons des expériences numériques captivantes.</h2>
                <p class="fs-6 text-center mx-auto">
                    Nous concevons des expériences numériques captivantes. Découvrez-en plus sur notre travail et notre
                    philosophie du design.
                    Jugez par vous-même les résultats que nous avons obtenus pour d'autres clients et rencontrez notre
                    équipe hautement expérimentée qui adore concevoir.
                </p>
                <button class="btn p-2 my-3 text-center mx-auto">Partagez-vos experience</button>
            </div>
        </div>
    </div>



          <script src="./js/bootstrap.js"></script>
          <script src="./js/main.js" type="module"></script>
</body>
</html>