<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">

    <style>
        @import url("./css/bootstrap.css");
        body {
            background-color: aqua;
        }
    </style>

</head>
<body>
        <!-- section du menu de notre site -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand " href="#"><img src=" https://demo.themefisher.com/airspace-bootstrap/images/logo.png" alt="logo" srcset=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarScroll">
                <ul class="navbar-nav  mx-5  my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/apropos">A propos</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/contact">Contacts</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
          <!-- Section banniere de notre site -->
           <section class="banniere">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="text-center"><%= phrase %></h1>
                        <p  class="text-center fs-5">
                            Nous aimons le Web et le travail que nous faisons. Nous travaillons en étroite collaboration avec nos clients pour fournir les meilleures solutions possibles à leurs besoins.
                        </p>
                        <button class="btn btn-info text-white fw-bold w-50 ">En savoir plus -></button>
                    </div>
                </div>
            </div>
           </section>

           <!-- section a propos -->
            <section class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <h2>A PROPOS</h2>
                            </div>
                            <div class="row">
                                <p> 
                                    Apropos
                                    Nous sommes passionnés par le Web et nous adorons ce que nous faisons. En collaboration étroite avec nos clients,
                                    nous analysons leurs besoins et concevons des solutions sur mesure. Notre mission est de leur offrir le meilleur du marketing numérique et du design, 
                                    avec une attention particulière aux détails et à la qualité.
                                </p>
                            </div>
                            <div class="row">
                                <p>
                                    À propos
                                    Notre passion pour le Web et le design nous anime chaque jour. 
                                    En étroite collaboration avec nos clients, nous élaborons des solutions adaptées à leurs besoins spécifiques. 
                                    Notre objectif est de proposer des prestations de marketing numérique et de design de haute qualité, avec une attention minutieuse aux détails et à la satisfaction de nos clients.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </section>

            <!-- Section Ideas -->
             <section class="Ideas">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>NOUS CROYONS EN DE GRANDES IDÉES</h1>
                            <p>
                                Chez nous, l'innovation est notre moteur. Chaque idée, aussi petite soit-elle, 
                                a le potentiel de devenir quelque chose de grand. Nous encourageons une culture où la créativité peut s'épanouir, permettant à chacun de s'exprimer librement et de contribuer à des solutions uniques et impactantes. 
                                Cette liberté de penser en grand nous permet de repousser les limites et de découvrir de nouvelles possibilités.
                            </p>

                            <p>
                                es grandes idées ne naissent pas de nulle part. 
                                Elles émergent de la collaboration, de l'écoute et de la persévérance. Nous croyons fermement que travailler ensemble, 
                                en réunissant des esprits brillants aux compétences diverses, est la clé pour transformer des concepts novateurs en réalités concrètes. Chez nous, 
                                chaque projet est une aventure collective où les idées de chacun sont valorisées et intégrées.
                            </p>
                            
                            <p>
                                Nous savons que pour réaliser de grandes choses, 
                                il faut oser prendre des risques. C'est pourquoi nous adoptons une approche audacieuse et visionnaire, 
                                n'ayant pas peur d'expérimenter et d'apprendre de nos erreurs. La route vers le succès est pavée de défis, mais avec notre détermination et notre foi inébranlable en la puissance des grandes idées, 
                                nous savons que nous pouvons accomplir l'extraordinaire.
                            </p>

                            <button class="btn btn-warning w-25">voir services</button>
                        </div>
                    </div>
                </div>
             </section>

             <!-- Servicce -->
              <section class="service">
                <div class="container">
                    <div class="row mx-auto">
                        <h2 class="text-center mx-auto mb-2">Nos Services</h2>
                        <p>Loin, très loin, derrière les montagnes de mots, loin des pays Vokalia et Consonantia, vivent les textes aveugles. Séparés, ils vivent dans Bookmarksgrove.</p>
                    </div>
                    <div class="row my-5">
                        <div class="col-md-3">
                            <span><i class="fas fa-coffee"></i></span>
                            <h5>titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span><i class="fa fa-gamepad jeux" aria-hidden="true"></i></span>
                            <h5>titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span><i class="fas fa-camera-retro"></i></span>
                            <h5>titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>
                        <div class="col-md-3">
                             <span><i class="fas fa-bug"></i></span>
                            <h5>titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col-md-3">
                            <span><i class="fas fa-headphones"></i></span>
                            <h5>titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>

                        <div class="col-md-3">
                            <span class="text-center "><i class="fas fa-leaf "></i></span>
                            <h5 class="text-center">titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>

                        <div class="col-md-3">
                            <span><i class="fas fa-satellite"></i> </span>
                            <h5>titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>

                        <div class="col-md-3">
                            <span><i class="fas fa-globe"></i></span>
                            <h5>titre</h5>
                            <p class="fs-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Pariatur nihil illo cumque maiores
                            </p>
                        </div>
                    </div>

                </div>
              </section>

              <!-- section experience -->
               <div class="experience">
                <div class="container">
                    <div class="row">
                        <h2 class="text-center mx-auto my-4">Nous concevons des expériences numériques captivantes.</h2>
                        <p class="fs-6 text-center mx-auto">
                            Nous concevons des expériences numériques captivantes. Découvrez-en plus sur notre travail et notre philosophie du design. 
                            Jugez par vous-même les résultats que nous avons obtenus pour d'autres clients et rencontrez notre équipe hautement expérimentée qui adore concevoir.
                        </p>
                        <button class="btn p-2 my-3 text-center mx-auto">Partagez-vos experience</button>
                    </div>
                </div>
               </div>

               <!-- section footer -->
                <section class="footer">
                    <div class="container">
                        <div class="row ">
                            <ul class="mt-5">
                                <li class="nav-item ">
                                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item ">
                                  <a class="nav-link" href="#">A propos</a>
                                </li>
                                <li class="nav-item ">
                                  <a class="nav-link" href="#">Services</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">Contacts</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row mx-auto">
                            <p class="text-center mx-auto">&copy; copyright tous droits reservés</p>
                        </div>
                    </div>
                </section>
          <script src="./js/bootstrap.js"></script>
          <script src="./js/main.js" type="module"></script>
</body>
</html>